p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

#question {
  font-weight: bold;
}

#solution {
  font-weight: bold;
}

/* https://www.w3schools.com/colors/colors_x11.asp
*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc;
}

.panel-question {
  padding: 18px 18px;
  /*display: none; */
  background-color: #fafafa;
  overflow: hidden;
  border-style: solid;
  border-color: #eee;
}

.panel-solution {
  padding: 18px 18px;
  /*display: none; */
  background-color: #fafafa;
  overflow: hidden;
  border-style: solid;
  border-color: #eee;
}

.tldr {
  padding: 20px;
  /*display: none; */
  background-color: #faebd7;
  overflow: hidden;
  border-style: solid;
  border-color: #faebd7;
}

p.tldr {
  font-weight: bold;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
